.c-balloon {
  display: inline-block;
}
.c-balloon_text {
  background-color: #F5F1F1;
  padding: 5% 8%;
  display: inline-block;
  text-align: left;
  font-size: 130%;
  font-weight: 600;
}
.c-balloon_nozzle {
  span {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #F5F1F1;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .c-balloon_text {
    background-color: #f5f1f1;
    padding: 3% 7%;
    margin: 0 1%;
  }
}