.c-block {
  text-align: center;
  padding-top: 15%;
}
.c-block_container {
  background-color: #fff;
}
.c-block_number {
  padding-top: 8px;
  margin: 0 auto;
  background-color: #B43B3E;
  width: 76px;
  height:38px;
  border-radius:38px 38px 0 0;
  color: #FFF;
  text-align: center;
}
.c-block_title {
  padding: 3% 0 3% 3% ;
  font-weight: bold;
  font-size: 200%;
  color: #fff;
  background-image: url("https://placehold.jp/150x150.png");
  background-size: cover;
  span {
    display: block;
    font-size: 80%;
    font-weight: normal;
  }
}
.c-block_container_inner {
  padding: 0 10px 30px 10px;
}
.c-block_sum {
  font-size: 24px;
  color: #B43B3E;
  text-align: center;
}
.c-block_desc {
  font-size: 20px;
  text-align: left;
  line-height: 36px;
  span {
    font-weight: bold;
  }
}
.c-block_label {
  background-color: #F5F1F1;
  padding: 6px 0;
  font-size: 18px;
}
.c-block_case {
  text-align: justify;
  line-height: 28px;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.c-block_button {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .c-block{
    width: 90%;
    margin: 0 auto;
    padding-top: 3%;
  }
  .c-block_title {
    text-align: left;
    padding-left: 2%;
    span{
      display: inline-block;

    }
  }
  .c-block_case{
    margin-top: 3%;
  }
  .c-block_sum{
    font-weight: bold;
    text-align: left;
    margin: 3% 0;
  }
  .c-block_desc{
    margin-bottom: 5%;
  }
}