.c-balloon {
  display: inline-block;
}
.c-balloon_text {
  background-color: #FAF7F7;
  padding: 6px 12px;
  display: inline-block;
  text-align: left;
  font-size: 80%;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 100%;
  }
}
.c-balloon_nozzle {
  span {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #FAF7F7;
    display: inline-block;
  }
}

