@import 'reset-css/reset.css';

@import "./_c-media";
@import "./_c-block";
@import "./_c-balloon";
@import "./_c-arrowButton";

.c-balloon_content{
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .c-balloon_content{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
}


